:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

/* img {
  max-width: 100%;
} */

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  /*-----Added by Eric to get rid of bullet points----*/
  display: unset;
  /*-----Added by Eric to get rid of bullet points----*/
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

/* .card {
  width: 25%;
  text-align: center;
  border-style: outset;
} */

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/* -------Added By Cody for product flip animation-------
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.cardBack{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	border: 5px solid black !important;
	border-radius: 10px;
}

/* To get the image to be contained in the flip card */
.productImg{
	object-fit: contain;
	height: 95%;
}
/* ---------------------------------- */

/* -------Added by Cody for a better login screen------- */
.loginCont {
  border: 1px black solid;
	border-radius: 15px;
  width: 250px;
	padding: 10px;
	margin-top: 100px !important;
	box-shadow: 12px 12px 15px 1px rgb(0, 30, 255);
}
.signupCont{
	border: 1px black solid;
	border-radius: 15px;
  width: 250px;
	padding: 10px;
	margin-top: 100px !important;
	box-shadow: 12px 12px 15px 1px rgb(0, 30, 255);

}

.loginBtnRow{
	width: 230px;
}

/* ---------------------------------- */

/* -------Added by Cody for footer------- */
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: rgb(0, 40, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 40, 255, 1) 0%,
    rgba(0, 8, 100, 1) 100%
  );
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  font-weight: 500;
}

.footerCopy {
	color: #f1f1f1;
  margin: 15px 0px 0px 15px;
}

/* ---------------------------------- */


/* -------Added by Cody for home screen------- */
.homeTitle{
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
@media screen and (max-width: 768px) {
  .homeTitle {
    font-size: 3em;
  }
}

.logo{
	max-width:	500px ;
}

@media screen and (max-width: 429px) {
	.logo{
		max-width:	250px ;
	}
}

/* ---------------------------------- */
